



.container{
    display: grid;
    grid-template-areas: "sidebar sidebar sidebar sidebar"
                        " header header header header"
                        "principal principal principal pricipal"
                        "footer footer footer footer";
    grid-template-columns: auto;

}


.sidebar{
    grid-area: sidebar;
    background-color: #00215f;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
}



.principal{
    grid-area: principal;
    
    

}

.header{
background-color:gray;
display: flex;
align-items: center;
grid-area: header;
}


.footer{
    grid-area: footer;
background-color: #00215f;
color: white;
display: flex;
flex-direction: column;


}



